<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quare posts</h1>
    <% for(post of post){ %>
      <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
        <br>
        <br>
        <a href="http://localhost:3000/post/<%= post.id %>">see in detail</a>
        <a href="http://localhost:3000/post/edit/<%=post.id%>">edit</a>
        <form method="post" action="/post/<%=post.id %>?_methode=DELET">
            <button>delet button</button>
        </form>
      </div>
        <% } %>

        <a href="http://localhost:3000/post/new">creat new post</a>
</body>
</html>

